<ns-action-bar title="Today's Challenge" [showBackButton]="false">
</ns-action-bar>
<FlexboxLayout *ngIf="!currentChallenge" class="no-challenge">
  <ns-no-challenge></ns-no-challenge>
</FlexboxLayout>
<FlexboxLayout *ngIf="currentDay" class="page">
  <Label class="h1" textWrap="true" [text]="currentDay.date | date"></Label>
  <ns-challenge-actions
    [cancelText]="'Reset'"
    [chosenAction]="getActionName()"
    (actionSelect)="onActionSelected($event)"
  ></ns-challenge-actions>
</FlexboxLayout>
