@import "~nativescript-theme-core/scss/light";
@import "../../../../theme/_colors.scss";

FlexboxLayout {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 430px;
}

.btn-success {
  background-color: $success;
  border-color: $success;
  border-width: 1;
  color: $white;
}

.btn-fail {
  background-color: $fail;
  border-color: $fail;
  border-width: 1;
  color: $white;
}

.btn-success:disabled,
.btn-fail:disabled {
  border-color: $disabled;
  border-width: 1;
  background-color: $disabled;
  color: $disabledText;
}

.animate-button {
  animation-name: slide-up;
  animation-duration: 1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(30);
  }
  to {
    transform: translateY(0);
  }
}
